body {
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
}
.paginaentera {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.cabecera {
    display: flex;
    background-color: blue;
    height: 8%;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    padding: 0;

}

.cabecera1 {
    border: 0.16em black solid;
    padding: 1.2%;
    width: 8%;
}

.cabecera2 {
    border: 0.16em black solid;
    display: flex;
    margin-left: 0.08%;
}
.cabecera3 {
    border: 0.16em black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
}

.cabecera4 { 
    border: 0.16em black solid;
    display: flex;
    margin-left: 4%;
}

.cabecera5 {
    border: 0.16em black solid;
    margin-left: 0.8%;
}
.cabecera6 {
    border: 0.16em black solid;
    margin: 0;
    padding: 0;
}
.cabecera8 {
    border: 0.16em black solid;
    margin: 0;
    padding: 0;
}

.central {
    display: flex;
    background-color: green;
    width: 100%;
    height: 80%;
    flex-direction: row;
}

.centralizq {
    display: flex;
    height: 100%;
    width: 20%;
    background-color: red;
}
.centralcen {
    display: flex;
    height: 100%;
    width: 80%;
    background-color: white;
    flex-direction: column;
}

.centralder {
    display: flex;
    height: 100%;
    width: 20%;
    background-color: red;
}

.logogoogle {
    display: flex;
    justify-content: center;
    margin-top: 17%;
}

.buscador {
    display: flex;
    justify-content: center;
}

.centralbajo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buscar {
    flex-direction: row;
    display: flex;
    background-color: #e0e9f2;
    padding: 0.7%;
    width: 10%;
    border-radius: 7%;
}

.suerte {
    flex-direction: row;
    display: flex;
    background-color: #e0e9f2;
    padding: 0.7%;
    width: 10%;
    border-radius: 7%;
    margin-left: 2%;
}